body{
    text-align: center;
    margin:0px;
    padding: 0px;
    background-color: #5b21b6;
}
:root{
    --pColor:#a78bfa;
}
nav{
    background-color:var(--pColor);
    height: 4rem;
}
h1{
    text-align: center;
    color: yellow;
}
.nav-list{
    text-decoration: none;
    border: none;
    list-style: none;
    display: flex;
    justify-content: left;
    align-content: space-around;
    margin-block-start: 0em;
    padding: 1rem;
}
.nav-item{
    padding: 2rem;
    color: #b40637;
    font-weight: 600;
    text-decoration: none;

}
.active{
    text-decoration: underline;
    color: #881337;
}
.inputs{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    /* width: rem; */
    margin: 0rem auto;
}
.angle-input{
    width: 25rem;
    margin: 0.5rem;

}
.submit-btn{
    margin: 1rem;
    width: 15rem;
    color: #b40637;
    background-color:var(--pColor);
    border: none;
    height: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}

#output{
   
    height: 5rem;
    font-size: larger;
    font-weight: 900;
    color: white;
    padding:2rem;

}
/* for Quizz file css */
.question-container{
    background-color:#db2777;
    padding: 2rem;
    width:45rem;
    margin: 1rem;
    border-radius: 15px;
}
.offwhite{
    background-color: #f472b6;
}